{% extends "base.html" %} {% block content %}

<div class="container">

    <div id="uploadModal" class="modal fade">
        <div class="modal" tabindex="-1"></div>
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Upload de Arquivos XML</h5>
                    <button
                        type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"
                    ></button>
                </div>
                <div class="modal-body">
                    <!-- Formulário para upload de arquivos XML -->
                    <form
                        action="/upload"
                        method="POST"
                        enctype="multipart/form-data"
                    > 
                        <div class="mb-2">
                            <input
                                class="form-control"
                                type="file"
                                id="formFileMultiple"
                                name="xml_files"
                                multiple
                            />
                            <br />
                            <button type="submit" class="btn btn-primary">
                                Fazer Upload
                            </button>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <h6>{{messagem}}</h6>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <!-- Tabela interativa de NFes com DataTables -->
        <h4>Cadastros - Emitentes</h5>
        <table id="nfeTable" class="table-sm table-hover">
            <thead>
                <tr>
                    <th>CNPJ</th>
                    <th>Razão Social</th>
                    <th>Insc. Estadual</th>
                    <th>UF</th>
                    <th>Endereço</th>
                    <th>Cidade</th>
                    <th>CEP</th>
                </tr>
            </thead>
            <tbody>
                {% for emit in emits %}
                <tr>
                    <td>{{ emit.emit_cnpj }}</td>
                    <td>{{ emit.emit_nome }}</td>
                    <td>{{ emit.emit_ie }}</td>
                    <td>{{ emit.emit_uf }}</td>
                    <td>{{ emit.emit_rua + ' ' + emit.emit_numero + ', ' + emit.emit_bairro + '.'}}</td>
                    <td>{{ emit.emit_cidade }}</td>
                    <td>{{ emit.emit_cep }}</td>
                    
                </tr>
                {% endfor %}
            </tbody>
            <!-- Rodapé para exibir o total -->
            <tfoot class="default">
                <tr>
                    
                    <th colspan="6"></th>
                    <th>Total de registros: {{ t_reg }}</th>
                    
                    
                </tr>
            </tfoot>
        </table>
    </div>

    {% endblock %}
</div>